
*.primaryBackground: #282828
*.primaryBackgroundTransparent: #77282828
*.primaryForeground: #ebdbb2
*.accent: #b8bb26
*.fontPrimary: inter
*.fontSizeRegular: 9

*.secondaryBackground: #3c3836

*.alert: #fb4934

*.color1: #98971a
*.color2: #689d6a
*.color3: #d79921
*.color4: #458588
*.color5: #b16286
*.color6: #cc241d

*.color1_2: #b8bb26
*.color2_2: #8ec07c
*.color3_2: #fabd2f
*.color4_2: #83a598
*.color5_2: #d3869b
*.color6_2: #fb4934

! Awesomewm theme config
background: #282828
foreground: #ebdbb2
#define COLOR0 #2e2e2e
#define COLOR1 #343434
#define COLOR2 #434343
#define COLOR3 #525252
#define COLOR4 #d6d6d6
#define COLOR5 #fafafa
#define COLOR6 #f0f0f0
#define COLOR7 #8FBCBB
#define COLOR8 #88C0D0
#define COLOR9 #81A1C1
#define COLOR10 #ec99bb
#define COLOR11 #b05279
#define COLOR12 #e87d3e
#define COLOR13 #e5b567
#define COLOR14 #b4d273
#define COLOR15 #9e86c8

color0: COLOR0
color1: COLOR1
color2: COLOR2
color3: COLOR3
color4: COLOR4
color5: COLOR5
color6: COLOR6
color7: COLOR7
color8: COLOR8
color9: COLOR9
color10: COLOR10
color11: COLOR11
color12: COLOR12
color13: COLOR13
color14: COLOR14
color15: COLOR15
