* {
    primaryBackground: #2E3440;
    primaryForeground: #E5E9F0;
    accent: #A3BE8C;
    accent-alpha: #A3BE8CAA;
    font1: "inter medium 11";
    background-light: #4C566A;
    background-light-alpha: #4C566ABB;
}
