/**
 * ROFI Color theme
 * User: Qball
 * Copyright: Dave Davenport
 */

configuration{
    display-drun: "Applications:";
    drun-display-format: "{name}";
}

@import "global.rasi"

* {
    border-color:          White;
    text-color:           @primaryForeground;
    font: @font1;
    font-size: 14;
    gp: 5px;
}


window {
    background-color: @primaryBackground;
    width:      50%;
    height:     10%;
    location:   center;
    children:   [ horibox, options];
    y-offset: -5%;
    border: 1px solid;
    border-color: @accent;
    expand: false;
}

horibox {
    background-color: @primaryBackground;
    padding: 1% 1% 1% 1%;
    orientation: horizontal;
    spacing: 0.5%;
    children:   [ prompt, entry ];
}

prompt{
    text-color: @accent;
    background-color: @primaryBackground;
    font: "Inter 12";
    padding: 0.6%;
}

entry {
    background-color: @background-light-alpha;
    width:   90%;
    placeholder: "Search";
    padding: 0.6%;
    font: "Inter 12";
}

options {
    background-color: @primaryBackground;
    orientation: horizontal;
    children: [dummybox, listview, dummybox];
}

dummybox {
    background-color: @primaryBackground;
    expand: true;
}

listview {
    columns: 3;
    lines: 3;
    background-color: @primaryBackground;
    layout: vertical;
    fixed-columns: true;
}

element {
    background-color: @background-light;
    width: 6%;
    padding: 1% 1% 1% 1%;
}

element selected{
    background-color: @accent;
    text-color: @primaryBackground;
}

element-icon {
    enabled: false;
}
element-text {
    horizontal-align: 0.5;
}
element-text, element-icon{
    background-color: inherit;
    text-color: inherit;
}
