* {
    primaryBackground: #2e2e2e;
    primary-background-alpha: #2e2e2eEE;
    primaryForeground: #d6d6d6;
    foreground-alpha: #d6d6d6BB;
    accent: #b4d273;
    accent-alpha: #b4d273AA;
    font1: "inter medium 11";
    background-light: #434343;
    background-light-alpha: #434343BB;
    height: calc(100% - 30px);
}
