* {
	background: #24283b;
	background-focus: #414868AA;
	background-special: #9ece6a;
	border: #9ece6aAA;
	foreground: #444;
	foreground-muted: #a9b1d6;
	background-color: transparent;
    window-padding: 50px;
	border-radius: 0px;
	color: @foreground-muted;
}

configuration {
	font:							"Inter semi-bold 11";
    show-icons:                     true;
	icon-theme: 					"Papirus";
    display-drun: 					"Application";
    display-ssh: 					"SSH";
    display-run: 					"Run";
    display-window:                 "Client";
    drun-display-format:            "{name}";
    disable-history:                false;
	sidebar-mode: 					false;
}

window {
	background-color: @background;
	text-color: @foreground-muted;
    border: 5px;
    border-color: @background-focus;
	width: 800px;
    height: 900px;
}

inputbar {
    padding: @window-padding;
	spacing: 10px;
    background-color: @background-focus;
}

prompt {
	padding: 10px;
	background-color: @background-special;
	border: 1px;
	border-color: @border;
	text-color: @foreground;
}
entry {
	padding: 10px;
	border: 1px;
	border-color: @border;
	text-color: @foreground-muted;
	placeholder-color: @foreground-muted;
    background-color: @background;
}

listview {
	columns: 2;
	lines: 5;
	scrollbar: false;
	cycle: false;
	dynamic: false;
	layout: vertical;
	fixed-columns: true;
    padding: @window-padding;

}
element {
	padding: 10px;
	spacing: 10px;
	border: 1px;
    orientation: horizontal;
}

element-icon{
    size: 40px;
}

element-text{
    vertical-align: 0.5;
}

element.selected {
	background-color: @background-focus;
	border: 1px;
	border-color: @border;
	text-color: @foreground;
}

mode-switcher {
	padding: 3px;
	border: 1px;
	border-color: @border;
}

button {
	expand: false;
	padding: 8px;
	text-color: @foreground-muted;
}
button.selected.normal {
	background-color: @background-special;
	border: 1px;
	border-color: @border;
	text-color: @foreground;
}
